#my-chart.line {
    padding: 20px;
    height: 200px;
    max-width: 100%;
    margin: 0 auto;
    --labels-size: 2rem;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-scroller {
    margin-top: 5px;
}

.nav-scroller ul {
    margin: auto;
    padding: auto;
}

.top_space {
    height: 120px;
}

@media (max-width: 990px) {
    .nav-scroller {
        font-size: 12px;
    }
} 

@media (max-width: 768px) {
    .nav-scroller {
        font-size: 12px;
    }

    .top_space {
        height: 150px;
    }
} 

/* header */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.bg-mode {
    background-color: #2565D0;
}

header {
    height: 56px;
    display: block;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-sm,
.navbar>.container-md,
.navbar>.container-lg,
.navbar>.container-xl,
.navbar>.container-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: inherit;
    flex-wrap: inherit;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    color: #132144;
}

/* main */
main {
    background-color: #eff2f6;
}

/* offcanvas */
.nav-link-secondary .nav-item .nav-link {
    color: #132144;
}

element.style {
    visibility: hidden;
}

.offcanvas-start {
    top: 0;
    left: 0;
    width: 400px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}

.offcanvas {
    position: fixed;
    bottom: 0;
    z-index: 1045;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 100%;
    visibility: hidden;
    background-color: #Edf2f9;
    background-clip: padding-box;
    outline: 0;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.align-items-center {
    align-items: center !important;
}

.offcanvas-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1.5rem;
}

.offcanvas-header .btn-close {
    padding: 0.5rem 0.75rem;
    margin-top: -0.5rem;
    margin-right: -0.75rem;
    margin-bottom: -0.5rem;
}

.px-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}

.d-block {
    display: block !important;
}

.offcanvas-body {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 1rem 1.5rem;
    overflow-y: auto;
}

.card.overflow-hidden {
    will-change: transform;
}

.overflow-hidden {
    overflow: hidden !important;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 0.4rem;
}

element.style {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.h-50px {
    height: 50px !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem;
}

.text-center {
    text-align: center !important;
}

.avatar {
    height: 3rem;
    width: 3rem;
    position: relative;
    display: inline-block;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
}


.mt-n5 {
    margin-top: -3rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

/* main 중간 내용 영역*/
.gap-4 {
    gap: 1.5rem !important;
}

.vstack {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

tbody {
    font-size: small;
}

th {
    font-size: 14px;
}

.nav_ul {
    display: flex;
    background-color: #91adf1;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

.nav_ul ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav_ul li {
    margin: 0 10px;
}

/* footer 영역 */
.footer {
    margin: 0 40px;
}

.footer {
    padding: 63px 0 32px;
    box-sizing: border-box;
}

.footer .footer_inner {
    position: relative;
    text-align: center;
}

.footer .footer_link li {
    display: inline-block;
}

.footer .corp,
.footer .text {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -.5px;
    color: #888;
}

.footer .footer_link li+li {
    position: relative;
    padding-left: 13px;
}

.footer .footer_link li {
    display: inline-block;
}

.footer .footer_link li+li::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 1px;
    height: 11px;
    background-color: #dadada;
}

strong {
    font-weight: bold;
}

/* 저작권 영역 */
.footer .footer_link+.footer_copy {
    margin-top: 9px;
}

.footer .footer_copy .footer_logo {
    display: inline-block;
    vertical-align: top;
    background-position: -157px -51px;
    background-repeat: no-repeat;
    width: 70px;
    height: 15px;
}

.footer .footer_copy .corp,
.footer .footer_copy .text {
    line-height: 16px;
    font-family: 'Helvetica Neue', sans-serif;
}

.footer .footer_copy .corp {
    padding: 0 2px;
    font-weight: 500;
    color: #000;
}

.modal-body {
    text-align: start;
}

option {
    font-weight: bold;
}

.footer_inner ul li a {
    text-decoration: none;
}

/* 경기 정보 영역 */
.MatchBox_comp_match_box__1oRmr.MatchBox_type_ready__2Q2dm {
    background-color: #274281;
}

.MatchBox_comp_match_box__1oRmr {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 99px;
    background: #294faa;
    border-top: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .08);
    color: #fff;
}

.MatchBox_comp_match_box__1oRmr.MatchBox_type_ready__2Q2dm .MatchBox_info__2l4DE {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.MatchBox_info__2l4DE {
    position: absolute;
    left: 70px;
    right: 70px;
    bottom: 23px;
    text-align: center;
}

.MatchBox_comp_match_box__1oRmr.MatchBox_type_ready__2Q2dm .MatchBox_state__2AzL_ {
    margin-top: 2px;
    background-color: #1c3264;
}

.MatchBox_state__2AzL_ {
    display: inline-block;
    margin-bottom: 8px;
    padding: 0 10px;
    height: 20px;
    border-radius: 9.5px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.MatchBox_date__1bJ9G {
    font-size: 12px;
    font-weight: 300;
    line-height: 13px;
}

.NO_TAP_HIGHLIGHT * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, .25);
}

.MatchBox_date__1bJ9G .MatchBox_time__2z_nB {
    padding-left: 2px;
}

.MatchBox_stadium__17mQ4 {
    display: block;
    font-size: 11px;
    line-height: 13px;
    color: #91adf1;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.MatchBox_comp_match_box__1oRmr.MatchBox_type_ready__2Q2dm .MatchBox_home__MPL6D {
    padding-right: 85px;
}

/* 원정 팀 */
.MatchBox_home__MPL6D {
    display: flex;
    width: 50%;
    box-sizing: border-box;
}

.MatchBox_team_area__a9Jet {
    -webkit-box-flex: 1;
    flex: 1 1;
    min-width: 0;
    padding: 10px 0 9px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.MatchBox_team_area__a9Jet .MatchBox_image__3CcVt {
    text-align: center;
}

.MatchBox_image__3CcVt img {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

.MatchBox_comp_match_box__1oRmr.MatchBox_type_ready__2Q2dm .MatchBox_text__22e-R {
    padding-bottom: 7px;
}

.MatchBox_team_area__a9Jet .MatchBox_text__22e-R {
    padding: 0 3px;
    text-align: center;
    letter-spacing: -.5px;
}

.MatchBox_team_area__a9Jet .MatchBox_name__11AyG {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    line-height: 16px;
}

em,
i {
    font-style: normal;
}

.MatchBox_comp_match_box__1oRmr.MatchBox_type_ready__2Q2dm .MatchBox_pitcher__2Krgp {
    margin-top: 2px;
}

.MatchBox_team_area__a9Jet .MatchBox_pitcher__2Krgp {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-top: 1px;
    font-size: 10px;
    line-height: 15px;
    color: #91adf1;
}

/* 홈팀 */
.MatchBox_comp_match_box__1oRmr.MatchBox_type_ready__2Q2dm .MatchBox_away__1rDsC {
    padding-left: 85px;
}

.MatchBox_away__1rDsC {
    position: relative;
    display: flex;
    width: 50%;
    box-sizing: border-box;
}

.MatchBox_away__1rDsC .MatchBox_team_area__a9Jet {
    -webkit-box-ordinal-group: 2;
    order: 1;
}

.MatchBox_team_area__a9Jet {
    -webkit-box-flex: 1;
    flex: 1 1;
    min-width: 0;
    padding: 10px 0 9px;
    box-sizing: border-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.MatchBox_team_area__a9Jet .MatchBox_image__3CcVt {
    text-align: center;
}

.MatchBox_image__3CcVt img {
    width: 40px;
    height: 40px;
    vertical-align: top;
}

fieldset,
img {
    border: 0;
}

.MatchBox_comp_match_box__1oRmr.MatchBox_type_ready__2Q2dm .MatchBox_text__22e-R {
    padding-bottom: 7px;
}

.MatchBox_team_area__a9Jet .MatchBox_text__22e-R {
    padding: 0 3px;
    text-align: center;
    letter-spacing: -.5px;
}

.MatchBox_team_area__a9Jet .MatchBox_name__11AyG {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
    line-height: 16px;
}

.MatchBox_team_area__a9Jet .MatchBox_badge__p5jYW {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: -2px 3px 0 0;
    border-radius: 3px;
    background-color: #163379;
    font-size: 9px;
    line-height: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}
