.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

time {
    margin-bottom: 5px;
    font-size: 34px;
    line-height: 40px;
}

/* 팀 선택 창 */
h3 {
    padding: 0;
    font-size: 14px;
    line-height: 1.25;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.CheerVS_cheer_alert__3ioWG:before {
    width: 0;
    height: 0;
    border-bottom: 6px solid #2bd8a4;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    vertical-align: top;
    -webkit-box-shadow: 1px 4px 7px 0 rgb(0 0 0 / 13%);
    box-shadow: 1px 4px 7px 0 rgb(0 0 0 / 13%);
}

.CheerVS_cheer_alert__3ioWG .CheerVS_alert_text__1ms91 {
    position: relative;
    padding: 7px 12px 6px;
    background-image: linear-gradient(270deg, #15d1d0, #1ed675);
    box-shadow: 1px 4px 7px 0 rgb(0 0 0 / 13%);
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.CheerVS_cheer_alert__3ioWG:after {
    background-image: url(https://ssl.pstatic.net/static.sports/resources/web-ui/game/220804-183157/img/sp_game_end.0e0a556b.png);
    background-size: 608px 426px;
    background-repeat: no-repeat;
    background-position: -562px -89px;
    width: 26px;
    height: 30px;
    content: "";
    position: absolute;
    left: 26px;
    top: -16px;
}

.CheerVS_cheer_box__1oy_U {
    position: relative;
}

.CheerBS_versus__xXspg {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 5;
    width: 45px;
    height: 31px;
    margin: -16px 0 0 -22px;
    background-color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -1px;
    font-family: Arial, sans-serif;
    font-weight: 900;
    color: #9b9b9b;
    border-radius: 16px;
    opacity: 1;
    transition: transform .2s cubic-bezier(.215, .61, .355, 1) .3s, -webkit-transform .2s cubic-bezier(.215, .61, .355, 1) .3s;
    pointer-events: none;
    touch-action: none;
}

.CheerVS_right_team__2cmbF {
    position: absolute;
    top: 0;
    bottom: 0;
    min-width: 107px;
    max-width: calc(100% - 107px);
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    transform: scale(1);
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.CheerVS_cheer_box__1oy_U {
    position: relative;
}

h3 {
    padding: 0;
    font-size: 14px;
    line-height: 1.25;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.CheerVS_cheer_alert__3ioWG {
    position: absolute;
    top: 94px;
    left: 8px;
    z-index: 20;
    font-size: 0;
    line-height: 0;
    text-align: center;
    animation: cheer_alert_fadeout .2s cubic-bezier(.44, .11, .14, 1) 10s forwards;
}

.CheerVS_cheer_alert__3ioWG:before {
    width: 0;
    height: 0;
    border-bottom: 6px solid #2bd8a4;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    vertical-align: top;
    -webkit-box-shadow: 1px 4px 7px 0 rgb(0 0 0 / 13%);
    box-shadow: 1px 4px 7px 0 rgb(0 0 0 / 13%);
}

.CheerVS_cheer_alert__3ioWG .CheerVS_alert_text__1ms91 {
    position: relative;
    padding: 7px 12px 6px;
    background-image: linear-gradient(270deg, #15d1d0, #1ed675);
    box-shadow: 1px 4px 7px 0 rgb(0 0 0 / 13%);
    border-radius: 3px;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}

.CheerVS_cheer_alert__3ioWG:after {
    background-image: url(https://ssl.pstatic.net/static.sports/resources/web-ui/game/220804-183157/img/sp_game_end.0e0a556b.png);
    background-size: 608px 426px;
    background-repeat: no-repeat;
    background-position: -562px -89px;
    width: 26px;
    height: 30px;
    content: "";
    position: absolute;
    left: 26px;
    top: -16px;
}

.CheerVS_team_cover__2Fb3h {
    position: relative;
    height: 90px;
    padding: 0 15px;
    border-radius: 15px;
    box-shadow: 0 7px 10px 0 rgb(0 0 0 / 5%), 0 2px 7px 0 rgb(0 0 0 / 10%);
    transition: transform .2s cubic-bezier(.215, .61, .355, 1), -webkit-transform .2s cubic-bezier(.215, .61, .355, 1);
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transform: scale(1);
}

.CheerVS_team_cover__2Fb3h:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    border: 2px solid;
    border-color: inherit;
    mix-blend-mode: soft-light;
    opacity: .3;
    content: "";
}

.CheerVS_team_cover__2Fb3h .CheerVS_emblem__2zXNQ {
    margin-top: 5px;
    vertical-align: top;
    opacity: 1;
    transition: all .3s cubic-bezier(.215, .61, .355, 1);
    filter: drop-shadow(0 5px 6px rgba(0, 0, 0, .15));
}

/* 댓글 */
.CommentModule_comp_comment__18nvt {
    position: relative;
    padding: 0 1px;
    background-color: var(--color-background1);
    top: 0px;
}

.u_cbox {
    padding-top: 24px;
}

.u_cbox {
    padding: 22px 15px 0;
}

.u_cbox {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.25;
    color: #000;
    text-align: left;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}

.CommentModule_comp_comment__18nvt .u_cbox .u_cbox_wrap {
    width: 100%;
}

.u_cbox .u_cbox_wrap {
    position: relative;
    -webkit-tap-highlight-color: transparent;
}


element.style {
    outline: 0;
}

.u_cbox .u_cbox_content_wrap {
    position: relative;
    padding-bottom: 43px;
}

.u_cbox [tabindex],
.u_cbox a[href],
.u_cbox area[href],
.u_cbox button:not([disabled]),
.u_cbox input:not([disabled]),
.u_cbox label,
.u_cbox select:not([disabled]),
.u_cbox textarea:not([disabled]) {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(26, 26, 26, .301961);
}

.u_cbox .u_cbox_list {
    margin-top: 20px;
}

.u_cbox ol,
.u_cbox ul {
    list-style: none;
}

.u_cbox button,
.u_cbox dd,
.u_cbox dl,
.u_cbox dt,
.u_cbox fieldset,
.u_cbox form,
.u_cbox h1,
.u_cbox h2,
.u_cbox h3,
.u_cbox h4,
.u_cbox h5,
.u_cbox h6,
.u_cbox input,
.u_cbox legend,
.u_cbox li,
.u_cbox ol,
.u_cbox p,
.u_cbox select,
.u_cbox table,
.u_cbox td,
.u_cbox textarea,
.u_cbox th,
.u_cbox ul {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.u_cbox .u_cbox_comment {
    overflow-anchor: none;
}

.u_cbox .u_cbox_comment:first-child .u_cbox_comment_box {
    margin-top: 0;
}

.u_cbox .u_cbox_comment .u_cbox_comment_box {
    margin-right: 28px;
}

.u_cbox .u_cbox_comment_box {
    margin: 12px 29px 0 0;
}

.u_cbox .u_cbox_comment .u_cbox_area {
    background-color: var(--color-comment-box);
    border: 0;
}

.u_cbox .u_cbox_area {
    display: inline-block;
    position: relative;
    min-width: 200px;
    max-width: 100%;
    padding: 10px 14px;
    border: 1px solid #f0f1f4;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f0f1f4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    word-wrap: break-word;
}

.CommentModule_comp_comment__18nvt .u_cbox .u_cbox_wrap.u_cbox_type_select .u_cbox_info {
    margin-left: 27px;
    margin-right: 139px;
}

.u_cbox .u_cbox_info {
    position: relative;
    z-index: 1;
    margin-right: 168px;
    font-size: 0;
    line-height: 0;
}

.u_cbox .u_cbox_box_name,
.u_cbox .u_cbox_name .u_cbox_nick {
    color: var(--color-comment-title);
}

.u_cbox .u_cbox_name .u_cbox_nick {
    display: block;
    overflow: hidden;
    font-family: HelveticaNeue, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.54;
    color: #222;
    letter-spacing: -.5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.u_cbox .u_cbox_info_main::after {
    display: block;
    clear: both;
    content: '';
}

.u_cbox .u_cbox_comment_box .u_cbox_info::after {
    display: block;
    clear: both;
    content: '';
}

.u_cbox .u_cbox_pic {
    overflow: hidden;
    position: absolute;
    top: 8px;
    left: 13px;
    width: 25px;
    height: 25px;
}

.u_cbox .u_cbox_pic img {
    width: 25px;
    height: 25px;
}

.u_cbox fieldset,
.u_cbox img {
    border: 0;
}

.u_cbox .u_cbox_comment .u_cbox_text_wrap {
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}

.u_cbox .u_cbox_comment .u_cbox_text_wrap {
    margin-top: 5px;
    font-size: 0;
    line-height: 0;
}

.u_cbox .u_cbox_comment .u_cbox_contents {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    color: var(--color-comment-text);
}

.u_cbox .u_cbox_comment .u_cbox_contents {
    font-family: HelveticaNeue, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.34;
    letter-spacing: -.5px;
    color: #222;
}

.u_cbox .u_cbox_info_base {
    position: absolute;
    top: 12px;
    right: 14px;
}

.u_cbox .u_cbox_date,
.u_cbox .u_cbox_info_sub .u_cbox_work_box .u_cbox_btn_block,
.u_cbox .u_cbox_info_sub .u_cbox_work_box .u_cbox_btn_delete,
.u_cbox a.u_cbox_btn_report {
    color: var(--color-comment-info-base);
}

.u_cbox .u_cbox_date {
    float: left;
    margin-top: -2px;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -.2px;
    color: #999;
}

.u_cbox .u_cbox_work_main:before {
    background-color: var(--color-comment-info-dot);
}

.u_cbox .u_cbox_work_main::before {
    float: left;
    width: 2px;
    height: 2px;
    margin: 7px 5px 0 5px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: #ccc;
    font-size: 0;
    line-height: 0;
    content: '';
}

.u_cbox .u_cbox_date,
.u_cbox .u_cbox_info_sub .u_cbox_work_box .u_cbox_btn_block,
.u_cbox .u_cbox_info_sub .u_cbox_work_box .u_cbox_btn_delete,
.u_cbox a.u_cbox_btn_report {
    color: var(--color-comment-info-base);
}

.u_cbox a.u_cbox_btn_report {
    overflow: initial;
    float: left;
    position: relative;
    top: 1px;
    width: auto;
    height: auto;
    margin-top: -3px;
    font-family: Helvetica-Light, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.54;
    letter-spacing: -.2px;
    color: #999;
}

.u_cbox .u_cbox_info_base::after {
    display: block;
    clear: both;
    content: '';
}

.u_cbox .u_cbox_info_base {
    position: absolute;
    top: 12px;
    right: 14px;
}

.u_cbox .u_cbox_tool:empty {
    display: none;
}

.u_cbox .u_cbox_tool {
    position: absolute;
    top: 50%;
    right: 0;
}

.u_cbox button,
.u_cbox dd,
.u_cbox dl,
.u_cbox dt,
.u_cbox fieldset,
.u_cbox form,
.u_cbox h1,
.u_cbox h2,
.u_cbox h3,
.u_cbox h4,
.u_cbox h5,
.u_cbox h6,
.u_cbox input,
.u_cbox legend,
.u_cbox li,
.u_cbox ol,
.u_cbox p,
.u_cbox select,
.u_cbox table,
.u_cbox td,
.u_cbox textarea,
.u_cbox th,
.u_cbox ul {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body,
button,
dd,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
menu,
nav,
ol,
p,
select,
table,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.25;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

